.popup__error {
    margin: 0;
    margin-top: 5px;
    color: rgba(255, 0, 0, 1);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 28px;
}

.popup__error:last-of-type {
    top: 88px;
}