.element {
    width: 282px;
    height: 361px;
    border-radius: 10%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    justify-self: center;
}